{% extends 'base.html' %}

{% block content %}
    <h1>Stream to YouTube</h1>
    <form action="{{ url_for('upload_video') }}" method="POST" enctype="multipart/form-data">
        <label for="video">Upload Video:</label>
        <input type="file" name="video" id="video" required><br><br>
        
        <label for="stream_key">YouTube Stream Key:</label>
        <input type="text" name="stream_key" id="stream_key" required><br><br>
        
        <button type="submit">Start Streaming</button>
    </form>

    <h1>Stop YouTube Stream</h1>
    <form action="{{ url_for('stop_stream') }}" method="POST">
        <button type="submit">Stop Streaming</button>
    </form>
{% endblock %}